* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  color: rgb(51, 51, 51);
}

i {
  pointer-events: none;
}

button:focus {
  outline-style: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;

  h2 {
    cursor: pointer;
    font-size: 2rem;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: white;
  padding: 1rem;
  width: 80%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* Hidden */
  pointer-events: none;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;

  &.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border: none;
    border-top-right-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  span {
    color: rgb(36, 36, 36);
  }
}

.controls {
  display: flex;
  flex-direction: column;

  button {
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;

  button {
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(33, 33, 75);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.library-panel,
.save-panel,
.generate-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliders input {
  padding: 0.2rem;
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: #93f2ff;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;

  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    cursor: pointer;
  }
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    cursor: pointer;
  }
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.copy-popup,
.save-popup,
.library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;

  &.active {
    transform: translateY(0rem);
  }
  h4 {
    font-size: 2rem;
    color: #26393b;
    margin: 2rem;
  }
}

.save-popup input {
  height: 2rem;
  width: 50%;
}

.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border: none;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-save {
  padding: 1rem 2rem;
  margin: 2rem;
  background: #26393b;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  max-height: 50%;
  justify-content: flex-start;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #26393b;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
  }
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
  h5 {
    color: #26393b;
    flex: 1;
  }
}

.small-preview {
  display: flex;
  flex: 1;
  div {
    flex: 1;
    height: 5rem;
  }
}

.pick-palette-btn {
  height: 5rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  background: #26393b;
}
